# macOS
.DS_Store

# Editor
.idea/
.vscode/

# Nix
result
result-*

# direnv
.direnv/
.envrc.local

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Secrets and age artifacts
*.age
*.asc

# Logs
*.log

# Build artifacts
artifacts/
**/artifacts/
