# macOS
.DS_Store

# Editor
.idea/
.vscode/

# images
*.qcow2
*.img
*.iso

# direnv
.direnv/
.envrc.local

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Secrets and age artifacts
*.age
*.asc

# Logs
*.log

# Build artifacts
.artifacts/
**/.artifacts/
out/
os-image/artifacts/
